# Copier en .env puis adapter
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=*
# True = SQLite (test rapide sans MariaDB) ; False = MariaDB
USE_SQLITE=False
DB_NAME=elearning_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
